<div class="card"
     *ngIf="card$ | async as card">
  <div class="card-header">
    {{ card.name }}
  </div>

  <div class="card-body">
    <div class="row">
        <div class="col-md-2">Artiste:</div>
        <div class="col-md-6">{{ card.artist }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">AsciiName:</div>
        <div class="col-md-6">{{ card.asciiName }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Attraction Lights:</div>
        <div class="col-md-6">{{ card.attractionLights }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Disponibilité:</div>
        <div class="col-md-6">{{ card.availability }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Types boostés:</div>
        <div class="col-md-6">{{ card.boosterTypes }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Couleur bordure:</div>
        <div class="col-md-6">{{ card.borderColor }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Card parts:</div>
        <div class="col-md-6">{{ card.cardParts }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Identité couleur:</div>
        <div class="col-md-6">{{ card.colorIdentity }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Indicateur de couleur:</div>
        <div class="col-md-6">{{ card.colorIndicator }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Couleur(s):</div>
        <div class="col-md-6">{{ card.colors }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Coût de mana convertis:</div>
        <div class="col-md-6">{{ card.convertedManaCost }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Défense:</div>
        <div class="col-md-6">{{ card.defense }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Rang Edhrec:</div>
        <div class="col-md-6">{{ card.edhrecRank }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">edhrecsaltiness:</div>
        <div class="col-md-6">{{ card.edhrecSaltiness }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Face converted mana cost:</div>
        <div class="col-md-6">{{ card.faceConvertedManaCost }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">FaceFlavorName:</div>
        <div class="col-md-6">{{ card.faceFlavorName }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">FaceName:</div>
        <div class="col-md-6">{{ card.faceName }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">finishes:</div>
        <div class="col-md-6">{{ card.finishes }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">flavorName:</div>
        <div class="col-md-6">{{ card.flavorName }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">FlavorText:</div>
        <div class="col-md-6">{{ card.flavorText }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">foreignData:</div>
        <div class="col-md-6">{{ card.foreignData }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">FrameEffects:</div>
        <div class="col-md-6">{{ card.frameEffects }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">frameVersion:</div>
        <div class="col-md-6">{{ card.frameVersion }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Main:</div>
        <div class="col-md-6">{{ card.hand }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">hasAlternativeDeckLimit:</div>
        <div class="col-md-6">{{ card.hasAlternativeDeckLimit }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">hasContentWarning:</div>
        <div class="col-md-6">{{ card.hasContentWarning }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">hasFoil:</div>
        <div class="col-md-6">{{ card.hasFoil }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">identifiers:</div>
        <div class="col-md-6">{{ card.identifiers }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">isAlternative:</div>
        <div class="col-md-6">{{ card.isAlternative }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">isFullArt:</div>
        <div class="col-md-6">{{ card.isFullArt }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">isFunny:</div>
        <div class="col-md-6">{{ card.isFunny }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">isOnlineOnly:</div>
        <div class="col-md-6">{{ card.isOnlineOnly }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">isOversized:</div>
        <div class="col-md-6">{{ card.isOversized }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">isPromo:</div>
        <div class="col-md-6">{{ card.isPromo }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">isRebalanced:</div>
        <div class="col-md-6">{{ card.isRebalanced }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">isReprint:</div>
        <div class="col-md-6">{{ card.isReprint }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">isReserved:</div>
        <div class="col-md-6">{{ card.isReserved }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">isStarter:</div>
        <div class="col-md-6">{{ card.isStarter }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">isStorySpotlight:</div>
        <div class="col-md-6">{{ card.isStorySpotlight }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">isTextLess:</div>
        <div class="col-md-6">{{ card.isTextless }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">isTimeshifted:</div>
        <div class="col-md-6">{{ card.isTimeshifted }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">keywords:</div>
        <div class="col-md-6">{{ card.keywords }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">language:</div>
        <div class="col-md-6">{{ card.language }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">layout:</div>
        <div class="col-md-6">{{ card.layout }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">leadershipSkills:</div>
        <div class="col-md-6">{{ card.leadershipSkills }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">legalities:</div>
        <div class="col-md-6">{{ card.legalities }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">life:</div>
        <div class="col-md-6">{{ card.life }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">loyalty:</div>
        <div class="col-md-6">{{ card.loyalty }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Coût de mana:</div>
        <div class="col-md-6">{{ card.manaCost }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">manaValue:</div>
        <div class="col-md-6">{{ card.manaValue }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">name:</div>
        <div class="col-md-6">{{ card.name }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">number:</div>
        <div class="col-md-6">{{ card.number }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">originalPrintings:</div>
        <div class="col-md-6">{{ card.originalPrintings }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">originalReleaseDate:</div>
        <div class="col-md-6">{{ card.originalReleaseDate }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">originalText:</div>
        <div class="col-md-6">{{ card.originalText }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">otherFaceIds:</div>
        <div class="col-md-6">{{ card.otherFaceIds }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">power:</div>
        <div class="col-md-6">{{ card.power }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">printings:</div>
        <div class="col-md-6">{{ card.printings }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">promoTypes:</div>
        <div class="col-md-6">{{ card.promoTypes }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">purchaseUrls:</div>
        <div class="col-md-6">{{ card.purchaseUrls }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">relateCards:</div>
        <div class="col-md-6">{{ card.relatedCards }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">rebalancePrintings:</div>
        <div class="col-md-6">{{ card.rebalancedPrintings }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">rulings:</div>
        <div class="col-md-6">{{ card.rulings }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">securityStamp:</div>
        <div class="col-md-6">{{ card.securityStamp }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">side:</div>
        <div class="col-md-6">{{ card.side }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">signature:</div>
        <div class="col-md-6">{{ card.signature }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">subsets:</div>
        <div class="col-md-6">{{ card.subsets }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">supertypes:</div>
        <div class="col-md-6">{{ card.supertypes }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">text:</div>
        <div class="col-md-6">{{ card.text }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">toughness:</div>
        <div class="col-md-6">{{ card.toughness }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">types:</div>
        <div class="col-md-6">{{ card.types }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">uuid:</div>
        <div class="col-md-6">{{ card.uuid }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">variations:</div>
        <div class="col-md-6">{{ card.variations }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">watermark:</div>
        <div class="col-md-6">{{ card.watermark }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Type:</div>
        <div class="col-md-6">{{ card.type }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Sous-type(s):</div>
        <div class="col-md-6">{{ card.subtypes }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Rareté:</div>
        <div class="col-md-6">{{ card.rarity }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Code de set:</div>
        <div class="col-md-6">{{ card.setCode }}</div>
    </div>
</div>