
<h4 class="description-line">Filtres :</h4>
<table class="table-filter">
        <tr>
            <td><button class="full-button" (click)="performFilter()">Filtrer</button></td>
            <td><button class="full-button" [ngClass]="moreFilterIsDisplay ? 'more-filters' : 'more-filters-invisible' " (click)="toggleMoreFilters()"> <- Moins de filtres </button></td>
            <td><button class="full-button" [ngClass]="moreFilterIsDisplay ? 'more-filters-invisible' : 'more-filters' " (click)="toggleMoreFilters()">Plus de filtres -></button></td>
        </tr>
        <tr>
            <th class="text-left">Nom</th>
            <th>contient</th>
            <th><input type="text" [(ngModel)]="filterSearchByName"></th>
        </tr>
        <tr>
            <th class="text-left">Texte</th>
            <th>contient</th>
            <th><input type="text" [(ngModel)]="filterSearchByText"></th>
        </tr>
        <tr>
            <th class="text-left">Texte d'illustration</th>
            <th>contient</th>
            <th><input type="text" [(ngModel)]="filterSearchByFlavorText"></th>
        </tr>
</table>

<table [ngClass]="moreFilterIsDisplay ? 'more-filters' : 'more-filters-invisible' ">
    <tr> 
        <th><input [ngClass]="isFilterByPower ? 'checkbox-true' : 'checkbox-false'"  type="checkbox" [(ngModel)]="isFilterByPower"></th>
        <th class="text-left large">Force</th> 
        <th>
            <select [(ngModel)]="directionFilterPower"> 
                <option value="=">Egale à</option> 
                <option value="<">Plus petit que</option> 
                <option value=">">Plus grand que</option>
            </select> 
        </th>                
        <th><input type="number" [(ngModel)]="searchValuePower" (focus)="validSearchBool('power')"></th> 
    </tr>
    <tr>
        <th><input [ngClass]="isFilterByToughness ? 'checkbox-true' : 'checkbox-false'"  type="checkbox" [(ngModel)]="isFilterByToughness"></th>
        <th class="text-left large">Endurance</th> 
        <th>
            <select [(ngModel)]="directionFilterToughness"> 
                <option value="=">Egale à</option> 
                <option value="<">Plus petit que</option> 
                <option value=">">Plus grand que</option>
            </select> 
        </th>
        <th><input type="number" [(ngModel)]="searchValueToughness" (focus)="validSearchBool('toughness')"></th> 
    </tr>
    <tr>
        <th><input [ngClass]="isFilterByConvertedManaCost ? 'checkbox-true' : 'checkbox-false'"  type="checkbox" [(ngModel)]="isFilterByConvertedManaCost"></th>
        <th class="text-left large">Coût convertie</th>
        <th>
            <select [(ngModel)]="directionFilterConvertedManaCost"> 
                <option value="=">Egale à</option> 
                <option value="<">Plus petit que</option> 
                <option value=">">Plus grand que</option>
            </select> 
        </th>
         <th><input type="number" [(ngModel)]="searchValueConvertedManaCost" (focus)="validSearchBool('convertedManaCost')"></th>
    </tr>
    <tr>
        <th><input [ngClass]="isFilterByArtist ? 'checkbox-true' : 'checkbox-false'"  type="checkbox" [(ngModel)]="isFilterByArtist"></th>
        <th class="text-left">Artiste</th>
        <th>contient</th>
        <th><input type="text" [(ngModel)]="filterSearchByArtist" (focus)="validSearchBool('artist')"></th>
    </tr>
</table>

<img id="img-card" [ngClass]="isCardImgVisible? 'visible' : 'invisible' " src="{{jsonWebSite.image}}">

<h4 class="description-line">Affichage(s) :</h4>
<table class="table-filter">
    <thead>
        <tr>
            <th>Couleur(s)</th>
            <th>Coût de mana</th>
            <th>Type(s)</th>
            <th>Sous-type(s)</th>
            <th>Rareté</th>
            <th>Code de set</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input [ngClass]="displayColors ? 'checkbox-true' : 'checkbox-false'"  type="checkbox" [(ngModel)]="displayColors"></td>
            <td><input [ngClass]="displayManaCost ? 'checkbox-true' : 'checkbox-false'" type="checkbox" [(ngModel)]="displayManaCost"></td>
            <td><input [ngClass]="displayType ? 'checkbox-true' : 'checkbox-false'"  type="checkbox" [(ngModel)]="displayType"></td>
            <td><input [ngClass]="displaySubtypes ? 'checkbox-true' : 'checkbox-false'" type="checkbox" [(ngModel)]="displaySubtypes"></td>
            <td><input [ngClass]="displayRarity ? 'checkbox-true' : 'checkbox-false'" type="checkbox" [(ngModel)]="displayRarity"></td>
            <td><input [ngClass]="displaySetCode ? 'checkbox-true' : 'checkbox-false'" type="checkbox" [(ngModel)]="displaySetCode"></td>
        </tr>
    </tbody>
</table>

<h4 class="description-line">Résultat(s) :</h4>
<table class="table-display">
    <thead>
        <tr>
            <th>Nom</th>
            <th *ngIf="displayColors">Couleur(s)</th>
            <th *ngIf="displayManaCost">Coût de mana</th>
            <th *ngIf="displayType">Type</th>
            <th *ngIf="displaySubtypes">Sous-type(s)</th>
            <th *ngIf="displayRarity">Rareté</th>
            <th *ngIf="displaySetCode">Code de set</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let card of cardsFiltered">
            <th id="card-name" class="text-left" (mouseenter)="displayCardImg(true)" (mouseleave)="displayCardImg(false)">{{card.name}}</th>
            <td [ngClass]="colorDisplay(card.colors)" *ngIf="displayColors">{{card.colors}}</td>
            <td *ngIf="displayManaCost">{{card.manaCost}}</td>
            <td class="text-left" *ngIf="displayType">{{card.type}}</td>
            <td class="text-left" *ngIf="displaySubtypes">{{card.subtypes}}</td>
            <td *ngIf="displayRarity">{{card.rarity}}</td>
            <td *ngIf="displaySetCode">{{card.setCode}}</td>
            <button>voir les détails</button><button routerLink="/details/{{card.number}}">page de la carte</button>
        </tr>
    </tbody>
</table>

<tr class="none-result" *ngIf="cardsFiltered?.length == 0">
    <p>Il semblerait qu'aucune carte ne corresponde aux filtres utilisés pour votre recherche.</p>
    <button class="full-button-rn" (click)="reinitialisation()">Réinitialiser les filtres</button>
</tr>